<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>CLSFCViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLQXCViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLQLCViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLArrangeThreeViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLArrangeFiveViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLATBetDetailsViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMethod</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>SLDrawNoticeController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>isBackHomeController</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>BBMatchBetListController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMothed</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLFastThreeViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMothed</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLDElevenViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMothed</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLSSQViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMothed</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLDLTViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
			<string>playMothed</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>SLListViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>isBackDraw</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLDEBetDetailViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLSSQBetDetailViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLFTBetDetailViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLDLTDetailViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>gameEn</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLLoginViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>blockName</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLAddBankCardViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>cardType</string>
			<string>channelType</string>
			<string>blockName</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLHeadReviseListViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLHeadOfSysChooseViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLModifyNickNameViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLUserCertifyViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>blockName</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLUserCertifySuccessViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLModifyMobileViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLBankCardListViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CKNewRechargeViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLWithdrawViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CQBuyRedPacketsViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLRedEnveExchangeViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLPersonalMsgViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLPersonalJournalViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLRedEnvelopeViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLLotteryBetOrderListViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLFollowListViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLSettingViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLModifyLoginPwdViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLSetLoginPwdViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLModifyPayPwdViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CQSettingPaymentPwdViewController</string>
		<key>type</key>
		<string>present</string>
		<key>keys</key>
		<array>
			<string>blockName</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLMicroPaymentViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLHelpFeedbackViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLLottBetOrdDetaViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>order_id</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLNoNetSettingViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>CLFollowDetailViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>followId</string>
		</array>
	</dict>
	<dict>
		<key>class</key>
		<string>CLActivityViewController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array/>
	</dict>
	<dict>
		<key>class</key>
		<string>SLBetOrderDetailsController</string>
		<key>type</key>
		<string>push</string>
		<key>keys</key>
		<array>
			<string>order_id</string>
		</array>
	</dict>
</array>
</plist>
